@media (max-width: 1300px) {
}
@media (max-width: 1200px) {
  .header-area .header-btn a {
    padding: 15px 13px;
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 800px;
  }
  .header-area .topbar-left .topbar-item:last-child {
    margin-left: 8px;
  }
  .header-area .topbar-left .topbar-item a span {
    display: none;
  }
  .hero-area .hero-img img {
    display: none;
  }
  .header-area .dekstop-menu {
    display: none;
  }
  .header-area .header-btn button {
    display: inline-block;
  }
  .header-area .logo-wrapper a {
    position: initial;
    max-width: 180px;
    display: inline-block;
  }
}
@media (max-width: 575px) {
  h1 {
    font-size: 50px;
  }
  .header-area .topbar {
    padding: 8px 10px;
  }
  .header-area .lang-switcher {
    display: none;
  }
  .header-area .header-btn a {
    display: none;
  }
}
@media (max-width: 480px) {
  .hero-area .hero-left .subtitle span {
    padding-left: 0;
  }
  .hero-area .hero-left .subtitle span::before {
    bottom: -6px;
  }
  .hero-area .hero-left .hero-btns {
    flex-direction: column;
  }
  .hero-area .hero-left .primary-btn a {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
